@import '../../../style/variables';

:host {
  .qty-controls {
    font-size: 2rem;
    line-height: 0.75;

    a.increase {
      color: $brand-success;
    }

    a.decrease {
      color: $brand-danger;
    }

  }
}
