<nav-bar [title]="title"
         [showBackButton]="true"
         [backLink]="backLink">
</nav-bar>
<main>
  <div class="jumbotron text-sm-center">
    <h1 class="display-4">What bar are you in?</h1>
    <p class="lead">It's OK, we aren't telling.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Bars Near You</h4>
        <bars-near-by (onSelected)="selectBar($event)"></bars-near-by>
      </div>
    </div>
  </div>
</main>
